<!doctype html>
<html>
<head>
	<title>Coberta</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<link rel="shortcut icon" href="img/coberta.png">
	<link rel="icon" sizes="192x192" href="img/coberta.png">
	<link rel="stylesheet" type="text/css" href="views/compiled/styles.css">
</head>
<body>
	<div id="content">
		
	</div>
	<script type="text/javascript" src="libs/fetch.min.js"></script>
	<script type="text/javascript" src="libs/react.min.js"></script>
	<script type="text/javascript" src="libs/react-dom.min.js"></script>
	<script type="text/javascript" src="libs/browser.min.js"></script>

	<script type="text/javascript" src="renderer/renderer.js"></script>
	<script type="text/javascript" src="views/compiled/card.js"></script>
	<script type="text/javascript" src="views/compiled/finance.js"></script>
	<script type="text/javascript" src="views/compiled/mfp_chart.js"></script>
	<script type="text/javascript" src="views/compiled/static-html.js"></script>

	<script type="text/javascript">
        var views = <%- data %>;

		renderViews(views);
	</script>
</body>
</html>
