/*
 *
 *	Card View
 *	v0.1.1
 *	29/06/2017
 *
 */

.component.card {
 	@include borderRadius(5px);
    @include boxShadow(2px 2px 5px $gray);
    padding: 20px;
    border: solid 1px $gray;
    width: 220px;
	min-height: 200px;
	display: inline-flex;
	margin: 0 20px 20px 0;
	h2 {
		color: $darkgray;
		border-bottom: solid 1px $gray;
	}
}
