/*
 *
 *	Card View
 *	v0.1.4
 *	04/08/2017
 *
 */

.component.card {
 	@include borderRadius(5px);
    @include boxShadow(2px 2px 5px $gray);
    padding: 20px;
    border: solid 1px $gray;
	background: white;
    width: 220px;
	min-height: 200px;
	margin: 0 20px 20px 0;
	@media screen and (max-width: 580px) {
		margin: 0 auto 20px auto;
	}
	h2 {
		color: $darkergray;
		border-bottom: solid 1px $gray;
	}
}
