/* 
*
*	Coberta / Renderer
*	v0.1.0
*	28/06/2017
*
*/

/* Mixins */

@mixin bold() {
	font-weight: bold;
}

@mixin transform($val) {
	-webkit-transform: $val;
	transform: $val;
}

@mixin borderRadius($val) {
	-webkit-border-radius: $val;
	border-radius: $val;
}

@mixin transition($val) {
	-webkit-transition: $val;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: $val;
}

@mixin boxShadow($val) {
	-webkit-box-shadow: $val;
	box-shadow: $val;
}

/* Colours */

$gray: #cfcfcf;
$darkgray: #333333;

/* Defaults */

html, body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	&.fullscreencomponents {
		overflow: hidden;
	}
}

body {
	@include transition(opacity 0.45s ease-out);
	opacity: 0;
	&.ready {
		opacity: 1;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: 'Spectral', serif;
}

.clear, .clearfix {
	clear: both;
	&.padout {
		padding: 20px 0;
	}
}

.col {
	float: left;
	margin-right: 1%;
	width: 99%;
	&.col-66 {
		width: 65%;
	}
	&.col-50 {
		width: 49%;
	}
	&.col-33 {
		width: 32%;
	}
}

/* Imports */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Spectral');

#content {
	position: relative;
	top: 0px;
	padding: 20px;
	@include transition(transform 0.4s ease-out);
}

@import "../views/src/card/card";
@import "../views/src/static-html/static-html";
