/* 
*
*	Coberta / Renderer
*	v0.1.5
*	28/08/2017
*
*/

/* Mixins */

@mixin bold() {
	font-weight: bold;
}

@mixin transform($val) {
	-webkit-transform: $val;
	transform: $val;
}

@mixin borderRadius($val) {
	-webkit-border-radius: $val;
	border-radius: $val;
}

@mixin transition($val) {
	-webkit-transition: $val;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: $val;
}

@mixin boxShadow($val) {
	-webkit-box-shadow: $val;
	box-shadow: $val;
}

/* Colours */

$gray: #cfcfcf;
$lightgray: #efefef;
$lightergray: #fafafa;
$darkgray: #666666;
$darkergray: #333333;

$positivity: #51a851;
$danger: #CC5252;

/* Defaults */

html, body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background-color: $lightgray;
	background-size: cover;
	background-position: 50% 50%;
	&.fullscreencomponents {
		overflow: hidden;
	}
}

body {
	@include transition(all 0.45s ease-out);
	opacity: 0;
	font-size: 14px;
	letter-spacing: 0.25px;
	background-position: bottom left;
	background-size: cover;
	&.ready {
		opacity: 1;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: 'Spectral', serif;
}

p {
	margin: 0 0 1.5rem 0;
	line-height: 1.6rem;
}

code {
	background: $lightergray;
	padding: 5px;
	border: solid 1px $gray;
	@include borderRadius(5px);
}

.clear, .clearfix {
	clear: both;
	&.padout {
		padding: 20px 0;
	}
}

.col {
	float: left;
	margin-right: 1%;
	width: 99%;
	&.col-66 {
		width: 65%;
	}
	&.col-50 {
		width: 49%;
	}
	&.col-33 {
		width: 32%;
	}
}

/* Imports */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Spectral');

#content {
	position: absolute;
	bottom: 0px;
	padding: 20px;
	width: calc(100% - 40px);
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	@include transition(transform 0.4s ease-out);
	&:before {
		content: ' ';
		height: 300px;
		width: 100%;
		bottom: 0;
		left: 0;
		position: absolute;
		z-index: -1;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	}
}

@import "../views/src/card/card";
@import "../views/src/finance/finance";
@import "../views/src/mfp_chart/mfp_chart";
@import "../views/src/static-html/static-html";