/* 
*
*	Coberta / Renderer
*	v0.1.4
*	04/08/2017
*
*/
/* Mixins */
/* Colours */
/* Defaults */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Spectral");
html, body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #efefef;
  background-size: cover;
  background-position: 50% 50%; }
  html.fullscreencomponents, body.fullscreencomponents {
    overflow: hidden; }

body {
  -webkit-transition: opacity 0.45s ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: opacity 0.45s ease-out;
  opacity: 0;
  font-size: 14px;
  letter-spacing: 0.25px; }
  body.ready {
    opacity: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: 'Spectral', serif; }

p {
  margin: 0 0 1.5rem 0;
  line-height: 1.6rem; }

code {
  background: #fafafa;
  padding: 5px;
  border: solid 1px #cfcfcf;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.clear, .clearfix {
  clear: both; }
  .clear.padout, .clearfix.padout {
    padding: 20px 0; }

.col {
  float: left;
  margin-right: 1%;
  width: 99%; }
  .col.col-66 {
    width: 65%; }
  .col.col-50 {
    width: 49%; }
  .col.col-33 {
    width: 32%; }

/* Imports */
#content {
  position: relative;
  top: 0px;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 1128px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  -webkit-transition: transform 0.4s ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: transform 0.4s ease-out; }

/*
 *
 *	Card View
 *	v0.1.4
 *	04/08/2017
 *
 */
.component.card {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px #cfcfcf;
  box-shadow: 2px 2px 5px #cfcfcf;
  padding: 20px;
  border: solid 1px #cfcfcf;
  background: white;
  width: 220px;
  min-height: 200px;
  margin: 0 20px 20px 0; }
  @media screen and (max-width: 580px) {
    .component.card {
      margin: 0 auto 20px auto; } }
  .component.card h2 {
    color: #333333;
    border-bottom: solid 1px #cfcfcf; }

/*
 *
 *	Finance
 *	v0.1.1
 *	04/08/2017
 *
 */
.component.finance h1 {
  text-align: center; }
  .component.finance h1.danger {
    color: #CC5252; }
  .component.finance h1 span {
    font-size: 0.5em;
    line-height: 0.7em;
    font-weight: lighter;
    display: block; }
.component.finance .transactions .transaction {
  border-bottom: solid 1px #efefef;
  padding: 5px 0;
  display: flex; }
  .component.finance .transactions .transaction div {
    margin-right: 10px; }
    .component.finance .transactions .transaction div.transaction-description {
      flex: 1; }
    .component.finance .transactions .transaction div.transaction-value {
      text-align: right;
      width: 50px; }
  .component.finance .transactions .transaction input {
    width: calc(100% - 10px);
    padding: 5px;
    border: solid 1px #cfcfcf; }
    .component.finance .transactions .transaction input[type=submit] {
      width: 24px;
      background-color: #51a851;
      border: none;
      padding: 0; }
  .component.finance .transactions .transaction:last-of-type {
    border-bottom: none; }

/*
 *
 *	MFP Chart
 *	v0.1.0
 *	31/07/2017
 *
 */
.component.mfpchart {
  position: relative;
  overflow: hidden; }
  .component.mfpchart label {
    clear: both;
    display: block;
    padding: 10px 0; }
    .component.mfpchart label p {
      display: inline-block;
      float: right;
      margin: 0;
      line-height: normal; }
      .component.mfpchart label p span {
        font-size: 11px; }
  .component.mfpchart .progress {
    -webkit-transition: width 0.25s ease-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: width 0.25s ease-out;
    height: 4px; }
    .component.mfpchart .progress:after {
      content: ' ';
      width: 100vw;
      height: 4px;
      position: absolute;
      background: #efefef;
      opacity: 0.5; }
    .component.mfpchart .progress.calories-progress {
      background: #FF00FF; }
    .component.mfpchart .progress.protein-progress {
      background: #00FF00; }
    .component.mfpchart .progress.carb-progress {
      background: #0000FF; }
    .component.mfpchart .progress.fat-progress {
      background: #00FFFF; }
    .component.mfpchart .progress.overflow-progress {
      background: #CC5252; }

/*
 *
 *	Static HTML View
 *	v0.1.2
 *	29/06/2017
 *
 */
.component.statichtml {
  flex: 1 100%; }

/*# sourceMappingURL=styles.css.map */
